html {
  background-color: #fff0db;
}

button {
  background-color: #DAA06D;
  color: black;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(2px);
}

input {
  background-color: #fff0db;
  border: none;
  margin: 10px;
}
.big {
  font-size: 1em;
}
.delButton {
  text-align: center;
  background-color: red;
  position: absolute;
  color: white;
  border-radius: 15px;
  border: 3px solid black;
  top: 0;
  right: 0;
  box-shadow: none;
}
.darkMode {
  text-align: center;
  background-color: black;
  position: absolute;
  color: white;
  border-radius: 15px;
  border: 3px solid black;
  top: 0;
  left: 0;
  box-shadow: none;
}
.lightMode {
  background-color: white;
  color: black;
  position: absolute;
  border-radius: 15px;
  border: 3px solid white;
  top: 0;
  left: 47%;
  box-shadow: none;
}
