html {
  background-color: #fff0db;
}

button {
  background-color: #DAA06D;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(2px);
}

input {
  background-color: #fff0db;
  border: none;
  margin: 10px;
}
