html {
      cursor: url('mouser.png'), auto;
    }
    h1 {
      color: white;
      background-color: purple;
    }
    button {
      border: 2px solid black;
      border-radius: 15px;
    }
    button:hover {
      cursor: default;
    }
    .bad img:hover {
      cursor: url('deadMiceMan.png'), auto;
    }
    #finish {
      width: 100px;
      height: 100px;
    }
